<!-- ========== Left Sidebar Start ========== -->
<div class="vertical-menu">

    <div data-simplebar class="h-100">

        <!--- Sidemenu -->
        <div id="sidebar-menu">
            <!-- Left Menu Start -->
            <ul class="metismenu list-unstyled" id="side-menu">
                <li class="menu-title" key="t-menu"><%=translation.t_menu %></li>
                
                <li>
                    <a href="/index" class="waves-effect">
                        <i class="bx bx-home"></i>
                        <span key="t-chat">
                            <%=translation.t_starter_page %>
                        </span>
                    </a>
                </li>

                <li>
                    <a href="javascript: void(0);" class="waves-effect">
                        <span class="badge rounded-pill bg-danger float-end" key="t-hot">Hot</span>
                        <i class="bx bx-layout"></i>
                        <span key="t-layouts"><%=translation.t_layouts %></span>
                    </a>
                    <ul class="sub-menu" aria-expanded="true">
                        <li>
                            <a href="javascript: void(0);" class="has-arrow" key="t-vertical"><%=translation.t_vertical %></a>
                            <ul class="sub-menu" aria-expanded="true">
                                <li><a href="/layouts-light-sidebar" key="t-light-sidebar"><%=translation.t_light_sidebar %></a></li>
                                <li><a href="/layouts-compact-sidebar" key="t-compact-sidebar"><%=translation.t_compact_sidebar %></a></li>
                                <li><a href="/layouts-icon-sidebar" key="t-icon-sidebar"><%=translation.t_icon_sidebar %></a></li>
                                <li><a href="/layouts-boxed" key="t-boxed-width"><%=translation.t_boxed_width %></a></li>
                                <li><a href="/layouts-preloader" key="t-preloader"><%=translation.t_preloader %></a></li>
                                <li><a href="/layouts-colored-sidebar" key="t-colored-sidebar"><%=translation.t_colored_sidebar %></a></li>
                                <li><a href="/layouts-scrollable" key="t-scrollable"><%=translation.t_scrollable %></a></li>
                            </ul>
                        </li>

                        <li>
                            <a href="javascript: void(0);" class="has-arrow" key="t-horizontal"><%=translation.t_horizontal %></a>
                            <ul class="sub-menu" aria-expanded="true">
                                <li><a href="/layouts-horizontal" key="t-horizontal"><%=translation.t_horizontal %></a></li>
                                <li><a href="/layouts-hori-topbar-light" key="t-topbar-light"><%=translation.t_topbar_light %></a></li>
                                <li><a href="/layouts-hori-boxed-width" key="t-boxed-width"><%=translation.t_boxed_width %></a></li>
                                <li><a href="/layouts-hori-preloader" key="t-preloader"><%=translation.t_preloader %></a></li>
                                <li><a href="/layouts-hori-colored-header" key="t-colored-topbar"><%=translation.t_colored_topbar %></a></li>
                                <li><a href="/layouts-hori-scrollable" key="t-scrollable"><%=translation.t_scrollable %></a></li>
                            </ul>
                        </li>
                    </ul>
                </li>

          
                <li class="menu-title" key="t-pages"><%=translation.t_pages %></li>

                <li>
                    <a href="javascript: void(0);" class="has-arrow waves-effect">
                        <i class="bx bx-user-circle"></i>
                        <span key="t-authentication"><%=translation.t_authentication %></span>
                    </a>
                    <ul class="sub-menu" aria-expanded="false">
                        <li><a href="auth-login" key="t-login"><%=translation.t_login %></a></li>
                        <li><a href="auth-login-2" key="t-login-2"><%=translation.t_login_2 %></a></li>
                        <li><a href="auth-register" key="t-register"><%=translation.t_register %></a></li>
                        <li><a href="auth-register-2" key="t-register-2"><%=translation.t_register_2 %></a></li>
                        <li><a href="auth-recoverpw" key="t-recover-password"><%=translation.t_recover_password %></a></li>
                        <li><a href="auth-recoverpw-2" key="t-recover-password-2"><%=translation.t_recover_password_2 %></a></li>
                        <li><a href="auth-lock-screen" key="t-lock-screen"><%=translation.t_lock_screen %></a></li>
                        <li><a href="auth-lock-screen-2" key="t-lock-screen-2"><%=translation.t_lock_screen_2 %></a></li>
                        <li><a href="auth-confirm-mail" key="t-confirm-mail"><%=translation.t_confirm_mail %></a></li>
                        <li><a href="auth-confirm-mail-2" key="t-confirm-mail-2"><%=translation.t_confirm_mail_2 %></a></li>
                        <li><a href="auth-email-verification" key="t-email-verification"><%=translation.t_email_verification %></a></li>
                        <li><a href="auth-email-verification-2" key="t-email-verification-2"><%=translation.t_email_verification_2 %></a>
                        </li>
                        <li><a href="auth-two-step-verification" key="t-two-step-verification"><%=translation.t_two_step_verification %></a>
                        </li>
                        <li><a href="auth-two-step-verification-2" key="t-two-step-verification-2"><%=translation.t_two_step_verification_2 %></a></li>
                    </ul>
                </li>

                <li>
                    <a href="javascript: void(0);" class="has-arrow waves-effect">
                        <i class="bx bx-file"></i>
                        <span key="t-utility"><%=translation.t_utility %></span>
                    </a>
                    <ul class="sub-menu" aria-expanded="false">
                        <li><a href="pages-maintenance" key="t-maintenance"><%=translation.t_maintenance %></a></li>
                        <li><a href="pages-comingsoon" key="t-coming-soon"><%=translation.t_coming_soon %></a></li>
                        <li><a href="pages-404" key="t-error-404"><%=translation.t_error_404 %></a></li>
                        <li><a href="pages-500" key="t-error-500"><%=translation.t_error_500 %></a></li>
                    </ul>
                </li>

              

                <li>
                    <a href="javascript: void(0);" class="has-arrow waves-effect">
                        <i class="bx bx-share-alt"></i>
                        <span key="t-multi-level"><%=translation.t_multi_level %></span>
                    </a>
                    <ul class="sub-menu" aria-expanded="true">
                        <li><a href="javascript: void(0);" key="t-level-1-1"><%=translation.t_level_1_1 %></a></li>
                        <li>
                            <a href="javascript: void(0);" class="has-arrow" key="t-level-1-2"><%=translation.t_level_1_2 %></a>
                            <ul class="sub-menu" aria-expanded="true">
                                <li><a href="javascript: void(0);" key="t-level-2-1"><%=translation.t_level_2_1 %></a></li>
                                <li><a href="javascript: void(0);" key="t-level-2-2"><%=translation.t_level_2_2 %></a></li>
                            </ul>
                        </li>
                    </ul>
                </li>

            </ul>
        </div>
        <!-- Sidebar -->
    </div>
</div>
<!-- Left Sidebar End -->